html {
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
}

@media only screen and (max-width: 500px),
(max-width: 1000px){
	.container{
		max-width: 90%;
	}
}